<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

   <p>
    Splurty was built by <a target="_Lou Vegerano" href="https://github.com/Himynameislou/Project1.git"></a><a target="_Lou Vegerano" href="https://github.com/Himynameislou/Project1.git">Lou</a>. Just a guy trying to learn some code.
  </p>
  <br />
  <p>
    I am an engineering student at UTSA currently. Father of a beautiful 3 year old with one in the oven.  Husband to the most beautiful, loving, PhD Candidate.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Luis "Lou" Vegerano</h2>
      <br />
      <p>
       Lou is a lover of life, craft beers, and good music.  He has a background in Architecture & Engineering.  In 15+ years in the industry he has traveled across the globe twice. Experienced amazing food, conversations, and experiences.  Life is always on the mend; and so is Lou.  He remains excited for what is around the corner!
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
  <br class="clear" />
</div>
